<!--The content below is only a placeholder and can be replaced.-->
<!--Icons shapes reference - https://vmware.github.io/clarity/icons/icon-sets#chart-shapes -->
<div class="main-container" style="width:100%; height:101%">
	<header class="header header-1 header-nav">
		<div class="branding">
			<!-- <a href="..." class="nav-link"> -->
				<a href="javascript://" class="nav-link nav-icon">
					<clr-icon shape="dashboard"></clr-icon>
				</a>
				<span class="title" style="padding-left:12px">{{ title }}</span>
		</div>
		<div class="header-nav">
				<a href="javascript://" class="active nav-link nav-text">Dashboard</a>
				<a href="javascript://" class="nav-link nav-text">Interactive Analytics</a>
		</div>
		<div class="header-actions">
				<a href="javascript://" class="nav-link nav-icon">
						<clr-icon shape="cog"></clr-icon>
				</a>
		</div>
	</header>
	<!-- <div style="margin-bottom: 10px; background-color: rgb(23, 36, 43)"></div> -->
	<nav class="subnav" style="display:inline-block; padding-top:5px;">
			<a href="javascript://" class="nav-link nav-text" style="padding-left:10px; padding-right:10px;">Dashboard2</a>
			<a href="javascript://" class="nav-link nav-text" style="padding-left:10px; padding-right:10px;">Interactive Analytics2</a>
	</nav>

	<div class="row" id="Row-1" style="margin-left:.5%; margin-right:.5%">
		<!-- <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12"> -->
			<div class="col-lg-4" id="chartCard">
			<div class="card poppy">
				<div class="card-header">
					First Switch Times (Averaged over 6 runs)
					<div class="clicky enlarge" style="float:right;line-height: 36px;transform: translateY(-.4em);">
							<clr-icon shape="resize" size="28"></clr-icon>
					</div>
				</div>
				<div class="card-block" style="padding-left:8px; padding-right: 8px; padding-bottom: 0px; padding-top: 4px;">
					<div class="card-title">
						<div>					
							<div>
								<canvas id="firstSwitch"></canvas>
							</div>
					</div>
					</div>
					<div class="card-text" style="padding:4px">
						This is a driver performance chart of 1st switch times.
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-sm btn-link">Footer Action 1</button>
					<button class="btn btn-sm btn-link">Footer Action 2</button>
				</div>
			</div>
		</div>
	
		<div class="col-lg-4" id="chartCard">
			<div class="card poppy">
				<div class="card-header">
					Sustained Switch Times (Averaged over 6 runs)
					<div class="clicky enlarge" style="float:right;line-height: 36px;transform: translateY(-.4em);">
							<clr-icon shape="resize" size="28"></clr-icon>
					</div>
				</div>
				<div class="card-block" style="padding-left:8px; padding-right: 8px; padding-bottom: 0px; padding-top: 4px;">
					<div class="card-title">
						<div>					
							<div>
								<canvas id="sustainedSwitch"></canvas>
							</div>
					</div>
					</div>
					<div class="card-text" style="padding:4px">
						This is a driver performance chart of 1st switch times.
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-sm btn-link">Footer Action 1</button>
					<button class="btn btn-sm btn-link">Footer Action 2</button>
				</div>
			</div>
		</div>

		<div class="col-lg-4" id="chartCard">
			<div class="card poppy">
				<div class="card-header">
					Max Switch Times
					<div class="clicky enlarge" style="float:right;line-height: 36px;transform: translateY(-.4em);">
							<clr-icon shape="resize" size="28"></clr-icon>
					</div>
				</div>
				<div class="card-block" style="padding-left:8px; padding-right: 8px; padding-bottom: 0px; padding-top: 4px;">
					<div class="card-title">
						<div>					
							<div>
								<canvas id="maxSwitch"></canvas>
							</div>
					</div>
					</div>
					<div class="card-text" style="padding:4px">
						This is a driver performance chart of <b>Maximum Switch</b> times.<br>
						All Cycles are averaged accross the 6 runs in the series; then the largest average is taken as the <b>Max Switch</b> time. 
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-sm btn-link">Footer Action 1</button>
					<button class="btn btn-sm btn-link">Footer Action 2</button>
				</div>
			</div>
		</div>
	</div>

	<div class="row" id="Row-2" style="margin-left:.5%; margin-right:.5%">
		<!-- <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12"> -->
			<div class="col-lg-4" id="chartCard">
			<div class="card poppy">
				<div class="card-header">
					First Open Times (Averaged over 6 runs)
					<div class="clicky enlarge" style="float:right;line-height: 36px;transform: translateY(-.4em);">
							<clr-icon shape="resize" size="28"></clr-icon>
					</div>
				</div>
				<div class="card-block" style="padding-left:8px; padding-right: 8px; padding-bottom: 0px; padding-top: 4px;">
					<div class="card-title">
						<div>					
							<div>
								<canvas id="firstOpen"></canvas>
							</div>
					</div>
					</div>
					<div class="card-text" style="padding:4px">
						This is a driver performance chart of 1st Open times.
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-sm btn-link">Footer Action 1</button>
					<button class="btn btn-sm btn-link">Footer Action 2</button>
				</div>
			</div>
		</div>	
		<div class="col-lg-4" id="chartCard">
			<div class="card poppy">
				<div class="card-header">
					Sustained Open Times (Averaged over 6 runs)
					<div class="clicky enlarge" style="float:right;line-height: 36px;transform: translateY(-.4em);">
							<clr-icon shape="resize" size="28"></clr-icon>
					</div>
				</div>
				<div class="card-block" style="padding-left:8px; padding-right: 8px; padding-bottom: 0px; padding-top: 4px;">
					<div class="card-title">
						<div>					
							<div>
								<canvas id="sustainedOpen"></canvas>
							</div>
					</div>
					</div>
					<div class="card-text" style="padding:4px">
						This is a driver performance chart of Sustained Open times.
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-sm btn-link">Footer Action 1</button>
					<button class="btn btn-sm btn-link">Footer Action 2</button>
				</div>
			</div>
		</div>
		<div class="col-lg-4" id="chartCard">
			<div class="card poppy">
				<div class="card-header">
					Max Open Times
					<div class="clicky enlarge" style="float:right; line-height: 36px; transform: translateY(-.4em);">
							<clr-icon shape="resize" size="28"></clr-icon>
					</div>
				</div>
				<div class="card-block" style="padding-left:8px; padding-right: 8px; padding-bottom: 0px; padding-top: 4px;">
					<div class="card-title">
						<div>					
							<div>
								<canvas id="maxOpen"></canvas>
							</div>
					</div>
					</div>
					<div class="card-text" style="padding:4px">
						This is a driver performance chart of <b>Maximum Open</b> times.<br>
						All Cycles are averaged accross the 6 runs in the series; then the largest average is taken as the <b>Max Open</b> time. 
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-sm btn-link">Footer Action 1</button>
					<button class="btn btn-sm btn-link">Footer Action 2</button>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="Row-3" style="margin-left:.5%; margin-right:.5%">
		<!-- <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12"> -->
			<div class="col-lg-4" id="chartCard">
			<div class="card poppy">
				<div class="card-header">
					First Print Times (Averaged over 6 runs)
					<div class="clicky enlarge" style="float:right; line-height: 36px;transform: translateY(-.4em);">
							<clr-icon shape="resize" size="28"></clr-icon>
					</div>
				</div>
				<div class="card-block" style="padding-left:8px; padding-right: 8px; padding-bottom: 0px; padding-top: 4px;">
					<div class="card-title">
						<div>					
							<div>
								<canvas id="firstPrint"></canvas>
							</div>
					</div>
					</div>
					<div class="card-text" style="padding:4px">
						This is a driver performance chart of 1st switch times.
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-sm btn-link">Footer Action 1</button>
					<button class="btn btn-sm btn-link">Footer Action 2</button>
				</div>
			</div>
		</div>	
		<div class="col-lg-4" id="chartCard">
			<div class="card poppy">
				<div class="card-header">
					Sustained Print Times (Averaged over 6 runs)
						<div class="clicky enlarge" style="float:right;line-height: 36px;transform: translateY(-.4em);">
							<clr-icon shape="resize" size="28"></clr-icon>
						</div>
				</div>
				<div class="card-block" style="padding-left:8px; padding-right: 8px; padding-bottom: 0px; padding-top: 4px;">
					<div class="card-title">
						<div>					
							<div>
								<canvas id="sustainedPrint"></canvas>
							</div>
					</div>
					</div>
					<div class="card-text" style="padding:4px">
						This is a driver performance chart of <b>Sustained Print Times</b>.
					</div>
				</div>
				<div class="card-footer">
					<button class="btn btn-sm btn-link">Footer Action 1</button>
					<button class="btn btn-sm btn-link">Footer Action 2</button>
				</div>
			</div>
		</div>
		<div class="col-lg-4" id="chartCard">
			<div class="card poppy">
				<div class="card-header">
					Max Print Times					
						<div class="clicky enlarge" style="float:right;line-height: 36px;transform: translateY(-.4em);">
							<clr-icon shape="resize" size="28"></clr-icon>
						</div>
				</div>
				<div class="card-block" style="padding-left:8px; padding-right: 8px; padding-bottom: 0px; padding-top: 4px;">
					<div class="card-title">
						<div>					
							<div>
								<canvas id="maxPrint"></canvas>
							</div>
					</div>
					</div>
					<div class="card-text" style="padding:4px">
						This is a driver performance chart of <b>Maximum Print</b> times.<br>
						All Cycles are averaged accross the 6 runs in the series; then the largest average is taken as the <b>Max Print</b> time. 
					</div>
				</div>
				<div class="card-footer">
					<input type="file" class="csv-file" name="files" style="cursor: pointer;"/>
					<button class="btn btn-sm btn-link">Footer Action 1</button>
					<button class="btn btn-sm btn-link">Footer Action 2</button>
				</div>
			</div>
		</div>		
	</div>
</div>